inventro_mainfile/docker/n8n/workflows/03-cupom-fiscal-pdf.json
{
  "id": "3",
  "name": "03 - Cupom Fiscal → Enviar via WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inventro/cupom-fiscal",
        "options": {}
      },
      "name": "Webhook Inventro",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "inv-wh-cupom-001"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event }}",
              "value2": "pedido.cupom_fiscal"
            }
          ]
        }
      },
      "name": "IF Cupom Fiscal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst body = items[0].json.body;\nconst data = body.data;\n\n// Validacao do telefone\nconst telefone = (data.cliente_telefone_e164 || '').toString().trim();\nconst telefoneValido = /^55\\d{2}9\\d{8}$/.test(telefone);\n\nif (!telefoneValido) {\n  return [{ json: { telefone: '', mensagem: '', erro: 'Telefone invalido ou ausente: ' + (data.cliente_telefone || '(vazio)') + ' -> ' + telefone, enviar: false } }];\n}\n\nconst nome = data.cliente_nome || 'Cliente';\nconst order = data.order_number || '';\nconst cupomUrl = data.cupom_url || '';\nconst total = data.total ? 'R$ ' + Number(data.total).toFixed(2).replace('.', ',') : '';\n\nconst msg = '\\ud83e\\uddf3 *Cupom do Pedido #' + order + '*\\n'\n  + '\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\n\\n'\n  + 'Ola, ' + nome + '!\\n\\n'\n  + 'Segue o cupom do seu pedido.\\n\\n'\n  + (total ? '\\ud83d\\udcb0 Total: *' + total + '*\\n\\n' : '')\n  + '\\ud83e\\uddc3 Ver cupom completo:\\n' + cupomUrl + '\\n\\n'\n  + 'Obrigado pela preferencia! \\ud83d\\ude4f';\n\nreturn [{ json: { telefone: telefone, mensagem: msg, enviar: true } }];"
      },
      "name": "Montar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.enviar }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Telefone Valido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/985707381298189/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.telefone, type: 'text', text: { preview_url: true, body: $json.mensagem } }) }}",
        "options": {}
      },
      "name": "WhatsApp Cupom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 150],
      "credentials": {
        "whatsAppApi": {
          "id": "hgzzTYvvhMIjAIbF",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Inventro": {
      "main": [
        [{ "node": "IF Cupom Fiscal", "type": "main", "index": 0 }]
      ]
    },
    "IF Cupom Fiscal": {
      "main": [
        [{ "node": "Montar Mensagem", "type": "main", "index": 0 }],
        []
      ]
    },
    "Montar Mensagem": {
      "main": [
        [{ "node": "Telefone Valido?", "type": "main", "index": 0 }]
      ]
    },
    "Telefone Valido?": {
      "main": [
        [{ "node": "WhatsApp Cupom", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "inventro" }]
}
